<footer id="footer" data-reactid=".3ytycbfh8g.2">
    <div data-reactid=".3ytycbfh8g.2.0">
        <div class="container" data-reactid=".3ytycbfh8g.2.0.0">
            <div class="row" data-reactid=".3ytycbfh8g.2.0.0.0">
                <div class="col-sm-8 col-xs-12" data-reactid=".3ytycbfh8g.2.0.0.0.0">
                    <span>Equipo y Seguridad Contra Incendios</span>
                    <nav id="footerNavigation" data-reactid=".3ytycbfh8g.2.0.0.0.0.0">
                        <ul data-reactid=".3ytycbfh8g.2.0.0.0.0.0.0">
                            <li data-reactid=".3ytycbfh8g.2.0.0.0.0.0.0.0">
                                <h5 data-reactid=".3ytycbfh8g.2.0.0.0.0.0.0.0.0"><a title="Inicio" class="" href="/inicio" data-reactid=".3ytycbfh8g.2.0.0.0.0.0.0.0.0.0">Inicio</a></h5></li>
                            <li data-reactid=".3ytycbfh8g.2.0.0.0.0.0.0.1">
                                <h5 data-reactid=".3ytycbfh8g.2.0.0.0.0.0.0.1.0"><a title="Nosotros" class="" href="/nosotros" data-reactid=".3ytycbfh8g.2.0.0.0.0.0.0.1.0.0">Nosotros</a></h5>
                                <ul data-reactid=".3ytycbfh8g.2.0.0.0.0.0.0.1.1">
                                    <li data-reactid=".3ytycbfh8g.2.0.0.0.0.0.0.1.1.0"><a title="Quiénes somos" class="" href="/nosotros/quienes-somos" data-reactid=".3ytycbfh8g.2.0.0.0.0.0.0.1.1.0.0">Quiénes somos</a></li>
                                    <li data-reactid=".3ytycbfh8g.2.0.0.0.0.0.0.1.1.1"><a title="Nuestro compromiso" class="" href="/nosotros/nuestro-compromiso" data-reactid=".3ytycbfh8g.2.0.0.0.0.0.0.1.1.1.0">Nuestro compromiso</a></li>
                                    <li data-reactid=".3ytycbfh8g.2.0.0.0.0.0.0.1.1.2"><a title="Historia" class="" href="/nosotros/historia" data-reactid=".3ytycbfh8g.2.0.0.0.0.0.0.1.1.2.0">Historia</a></li>
                                    <li data-reactid=".3ytycbfh8g.2.0.0.0.0.0.0.1.1.3"><a title="Nuestra imagen" class="" href="/nosotros/nuestra-imagen" data-reactid=".3ytycbfh8g.2.0.0.0.0.0.0.1.1.3.0">Nuestra imagen</a></li>
                                </ul>
                            </li>
                            <li data-reactid=".3ytycbfh8g.2.0.0.0.0.0.0.2">
                                <h5 data-reactid=".3ytycbfh8g.2.0.0.0.0.0.0.2.0"><a title="Productos" class="" href="/productos" data-reactid=".3ytycbfh8g.2.0.0.0.0.0.0.2.0.0">Productos</a></h5>
                                <ul data-reactid=".3ytycbfh8g.2.0.0.0.0.0.0.2.1">
                                    <li data-reactid=".3ytycbfh8g.2.0.0.0.0.0.0.2.1.0"><a title="Extintores" class="" href="/productos/extintores" data-reactid=".3ytycbfh8g.2.0.0.0.0.0.0.2.1.0.0">Extintores</a></li>
                                    <li data-reactid=".3ytycbfh8g.2.0.0.0.0.0.0.2.1.1"><a title="Equipo" class="" href="/productos/equipo" data-reactid=".3ytycbfh8g.2.0.0.0.0.0.0.2.1.1.0">Equipo</a></li>
                                    <li data-reactid=".3ytycbfh8g.2.0.0.0.0.0.0.2.1.2"><a title="Accesorios" class="" href="/productos/accesorios" data-reactid=".3ytycbfh8g.2.0.0.0.0.0.0.2.1.2.0">Accesorios</a></li>
                                    <li data-reactid=".3ytycbfh8g.2.0.0.0.0.0.0.2.1.3"><a title="Señalamientos" class="" href="/productos/senalamientos" data-reactid=".3ytycbfh8g.2.0.0.0.0.0.0.2.1.3.0">Señalamientos</a></li>
                                </ul>
                            </li>
                            <li data-reactid=".3ytycbfh8g.2.0.0.0.0.0.0.3">
                                <h5 data-reactid=".3ytycbfh8g.2.0.0.0.0.0.0.3.0"><a title="Capacitación" class="" href="/capacitacion" data-reactid=".3ytycbfh8g.2.0.0.0.0.0.0.3.0.0">Capacitación</a></h5>
                                <ul data-reactid=".3ytycbfh8g.2.0.0.0.0.0.0.3.1">
                                    <li data-reactid=".3ytycbfh8g.2.0.0.0.0.0.0.3.1.0"><a title="Nivel 1" class="" href="/capacitacion/nivel-1" data-reactid=".3ytycbfh8g.2.0.0.0.0.0.0.3.1.0.0">Nivel 1</a></li>
                                    <li data-reactid=".3ytycbfh8g.2.0.0.0.0.0.0.3.1.1"><a title="Nivel 2" class="" href="/capacitacion/nivel-2" data-reactid=".3ytycbfh8g.2.0.0.0.0.0.0.3.1.1.0">Nivel 2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div id="addressColumn" class="col-sm-4 col-xs-12" data-reactid=".3ytycbfh8g.2.0.0.0.1"><span id="footerLogo" data-reactid=".3ytycbfh8g.2.0.0.0.1.0">Marcilla - Equipo y seguridad para incendios </span>
                    <h5 data-reactid=".3ytycbfh8g.2.0.0.0.1.1"><a title="Contáctanos" class="" href="/contacto" data-reactid=".3ytycbfh8g.2.0.0.0.1.1.0">Contacto</a></h5>
                    <address data-reactid=".3ytycbfh8g.2.0.0.0.1.2">
                        <p data-reactid=".3ytycbfh8g.2.0.0.0.1.2.0">Calle Galeana No. 1650 Zona Centro, Tijuana, B.C. </p><a href="tel:6646859090" title="Llámanos" data-reactid=".3ytycbfh8g.2.0.0.0.1.2.1">(664) 685 9090</a><span data-reactid=".3ytycbfh8g.2.0.0.0.1.2.2">/</span><a href="tel:6646851923" title="Llámanos" data-reactid=".3ytycbfh8g.2.0.0.0.1.2.3">(664) 685 1923</a><a href="mailto:ventas@marcilla.com.mx" title="Escríbenos" class="email" data-reactid=".3ytycbfh8g.2.0.0.0.1.2.4">ventas@marcilla.com.mx</a>
                        <ul class="social" data-reactid=".3ytycbfh8g.2.0.0.0.1.2.5">
                            <li data-reactid=".3ytycbfh8g.2.0.0.0.1.2.5.0"><a href="//facebook.com/marcillaextintores" title="Síguenos en facebooks" target="_blank" data-reactid=".3ytycbfh8g.2.0.0.0.1.2.5.0.0"><span data-reactid=".3ytycbfh8g.2.0.0.0.1.2.5.0.0.0">Facebook</span></a></li>
                        </ul>
                    </address>
                </div>
            </div>
        </div>
        <div id="footerCredits" data-reactid=".3ytycbfh8g.2.0.1">
            <div class="container" data-reactid=".3ytycbfh8g.2.0.1.0">
                <div class="row" data-reactid=".3ytycbfh8g.2.0.1.0.0">
                    <div class="col-sm-7 col-xs-12" data-reactid=".3ytycbfh8g.2.0.1.0.0.0">
                        <p data-reactid=".3ytycbfh8g.2.0.1.0.0.0.0">Todos los derechos reservados Marcilla e Hijos desde 1957</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
