<header id="header" data-reactid=".3ytycbfh8g.0" class="">
    <nav class="navbar-static-top navbar navbar-default" role="navigation" data-reactid=".3ytycbfh8g.0.0">
        <div class="container" data-reactid=".3ytycbfh8g.0.0.0">
            <div class="navbar-header" data-reactid=".3ytycbfh8g.0.0.0.0"><a title="Marcilla | Volver a inicio" class="navbar-brand" href="/inicio" data-reactid=".3ytycbfh8g.0.0.0.0.0">Marcilla | Volver a inicio</a>
                <button class="navbar-toggle" type="button" data-reactid=".3ytycbfh8g.0.0.0.0.1"><span class="sr-only" data-reactid=".3ytycbfh8g.0.0.0.0.1.$0">Toggle navigation</span><span class="icon-bar" data-reactid=".3ytycbfh8g.0.0.0.0.1.$1"></span><span class="icon-bar" data-reactid=".3ytycbfh8g.0.0.0.0.1.$2"></span><span class="icon-bar" data-reactid=".3ytycbfh8g.0.0.0.0.1.$3"></span></button>
            </div>
            <div class="navbar-collapse collapse" aria-expanded="false" data-reactid=".3ytycbfh8g.0.0.0.1:$=10:$0"><span data-reactid=".3ytycbfh8g.0.0.0.1:$=10:$0.$=10:0"> </span>
                <ul class="nav navbar-nav" data-reactid=".3ytycbfh8g.0.0.0.1:$=10:$0.$=11:$0">
                    <li role="presentation" class="" data-reactid=".3ytycbfh8g.0.0.0.1:$=10:$0.$=11:$0.$=10:$0"><a href="/inicio" data-reactid=".3ytycbfh8g.0.0.0.1:$=10:$0.$=11:$0.$=10:$0.0">Inicio</a></li>
                    <li role="presentation" class="" data-reactid=".3ytycbfh8g.0.0.0.1:$=10:$0.$=11:$0.$=11:$1"><a href="/nosotros" data-reactid=".3ytycbfh8g.0.0.0.1:$=10:$0.$=11:$0.$=11:$1.0">Nosotros</a></li>
                    <li role="presentation" class="" data-reactid=".3ytycbfh8g.0.0.0.1:$=10:$0.$=11:$0.$=12:$2"><a href="/productos" data-reactid=".3ytycbfh8g.0.0.0.1:$=10:$0.$=11:$0.$=12:$2.0">Productos</a></li>
                    <li role="presentation" class="" data-reactid=".3ytycbfh8g.0.0.0.1:$=10:$0.$=11:$0.$=13:$3"><a href="/capacitacion" data-reactid=".3ytycbfh8g.0.0.0.1:$=10:$0.$=11:$0.$=13:$3.0">Capacitación</a></li>
                    <li role="presentation" class="" data-reactid=".3ytycbfh8g.0.0.0.1:$=10:$0.$=11:$0.$=14:$4"><a href="/contacto" data-reactid=".3ytycbfh8g.0.0.0.1:$=10:$0.$=11:$0.$=14:$4.0">Contacto</a></li>
                </ul>
            </div><a id="shopping-cart" class="" href="/basket" data-reactid=".3ytycbfh8g.0.0.0.1:$=11:$1"><span data-reactid=".3ytycbfh8g.0.0.0.1:$=11:$1.1">Item in car</span></a>
            <ul class="social" data-reactid=".3ytycbfh8g.0.0.0.1:$=12:$2">
                <li data-reactid=".3ytycbfh8g.0.0.0.1:$=12:$2.0"><a href="//facebook.com/marcillaextintores" title="Síguenos en facebooks" target="_blank" data-reactid=".3ytycbfh8g.0.0.0.1:$=12:$2.0.0"><span data-reactid=".3ytycbfh8g.0.0.0.1:$=12:$2.0.0.0">Facebook</span></a></li>
            </ul>
        </div>
    </nav>
</header>
