{% extends "checkout/checkout.html" %}
{% load i18n %}

{% block place_order %}
    <form method="post" action="{% url 'checkout:preview' %}" id="place_order_form">
        {% csrf_token %}
        <input type="hidden" name="action" value="place_order" />

        <div class="form-group clearfix">
            <div class="row">
                <div class="col-sm-3 col-sm-offset-9">
                     <button id='place-order' type="submit" class="btn btn-primary btn-lg btn-block" data-loading-text="{% trans 'Submitting...' %}">{% trans "Place order" %}</button>
                </div>
            </div>
        </div>
    </form>
{% endblock place_order %}
